{%extends "layout.html"%}
{% block content%}

<header>
   <img src="static/imagenes/ic.png" width="200px">
</header>  
<section class="main" >
    
<section class="articles">
        <article>
            <h2> ESTE ES NUESTRO SITIO WEB DE LA VETERINARIA LILA   </h2>
            <br>
            <p>Bienvenidos a nuestra clinica veterinaria especializada en mascotas!

                En este espacio dedicado al cuidado y bienestar de tus queridos companeros peludos, te ofrecemos atencion profesional y amorosa para mantener a tus mascotas felices y saludables.
                
                Nuestro equipo de veterinarios altamente capacitados esta aqui para brindarte los mejores servicios medicos, desde consultas de rutina hasta tratamientos especializados, siempre con un enfoque calido y compasivo.
                
                Confia en nosotros para cuidar de tus mascotas como si fueran parte de nuestra propia familia. Bienvenidos a nuestra clnica, donde el amor por los animales es nuestra pasion! 
                
                
                
                
                
                <img src="static/imagenes/tec5.jpg" width="200px">
           </p>
       </article>
        <article>
           <h2>LA MEJOR VETERINARIA DE AGUASCALIENTES </h2>
            <br>
           
        
        </article>
</section>  
</section> 
<aside>
    <h3> Avisos:</h3>
    <p> EL HORARIO DE LNES A VIERNES 9AM A 10PM
        HORARIO DE SABADO Y DOMINGO 8AM A 11PM
        <br>
        
       
    </p>
  
{%endblock%}