<!DOCTYPE html>
<html lang="es">
<head>
<meta name="keywords" content="HTML5, CSS3">
<title>Ejemplo de estructura HTML5</title>
<link rel="stylesheet" href="static/estiloss.css">
</head>
<body>


<nav>
    <ul>
        <li><a href="/index">Inicio</a></li>
        <li><a href="/PERRO">PERROS</a></li>
        <li><a href="/GATO">GATOS</a></li>
        <li><a href="/CONEJO">CONEJOS</a></li>
    </ul>
</nav>
{% block content%}
{%endblock%}

<footer>
    <p>katherine bindi urzua martinez</p>
</footer>
  
</body>
</html>
